
@media(max-width:  1200px)
{
	.nav-bar ul li{
		padding: 10px 6px 9px 6px;
	}

	.nav-bar ul li:hover{
		padding: 8px 4px 7px 4px;
	}

	.motto{
		font-size:  16px;
	}

	.slidertext .title{
		font-size:  40px;
	}

	.slidertext .message{
		clear: both;
		font-size:  24px;
		display: inline-block;
		padding: 26px 0px;
		font-weight:  initial;
		letter-spacing:  0px;
	}
	.service{
		width: 50%;
		padding: 20px 0px;
	}
	

	.statistics{
		width: 48.259%;
	}

	.support{
		max-width: 100%;
		padding-left: 20px;
		padding-right: 20px;
	}

	.contact-left{
		text-align:  center;
		width: 100%;
	}

	.contact-right{
		width: 100%;
		clear: both;
		float: left;
	}

	.contact-bottom .seperator{
		width:  50%;
		margin: 0 auto;
	}

	.contact-right form{
		width: 50%;
		margin: 0 auto;
		clear: both;
	}

	.contact-right form input{
		width: 92.490368%;
	}

	.contact-right form textarea{
		width: 96.490368%;
	}
	
	.contact-right form .submit{
		width: 104.421368%;
	}	
}

	
@media(max-width:  900px)
{
	
	.nav-bar{
		display:none;
	}
	.burger-menu{
		display:block;
	}
	.sidertext{
		display: none;
	}
	.contact-right {
		display: none;
	}
}
	
@media(max-width:  600px)
{
	.slidertext{
		display:none;
	}

	.service{
		width: 100%;
		padding: 20px 0px;
	}

	.statistics{
		width: 100%;
		padding: 10px 0px;
	}
}