body,html{
	height:  100%;
}

.main-container{
	position: relative;
}

.header-wrapper{
	position:  absolute;
	left: 0;
	top: 0;
	z-index:  2;
	width:  100%;
}

.header-container{
	padding: 47px 0px 6px 0px;
}
.header-container .logo{
	float: left;
	padding-left: 18px;
}

.nav-bar{
	float: right;
}
.nav-bar ul{
	list-style: none; padding: 6px 0px;
}

.nav-bar ul li{
	float: left;
	padding: 10px 21px 9px 21px;
}

.nav-bar ul li a{
	display:  block;
	text-decoration: none;
	color: white;
	font-family: 'Lato';
	font-weight:  bold;
	font-size:  15px;
	}

.nav-bar ul li:hover{
	border: 2px solid #fff;
	padding: 8px 19px 7px 19px;
}
.burger-menu{
	display:none;
	float:right;
	background-image:url('../images/burger-menu.png');
	background-size:100% 100%;
	width:50px;
	height:50px;
	margin-right:18px;

}

.slider-wrapper{
	height:  100%;
	position:  relative;
}

.slider{
	width:  100%;
	overflow:  hidden;
}

.slider-long img{
	width:  100%;
    padding:  0px;
    margin:  0px;
    height: 100%;
}

.slider-long{
	width:  100%;
	height:  100%;
}
.slider-long .slider-content-wrapper{
	position: relative;
}

.slider-long .slidertext{
	position:  absolute;
	top: 0px;
	text-align: center;
	width: 100%;
}

.slidertext img{
	width: 17.124%;
	display: block;
	margin:  0 auto;
}

.slidertext span{
	font-family: 'Vollkorn';
	display: block;
	color: white;
	font-weight: bold;
	letter-spacing: 5px;
}

.slider-message{
	padding-top: 10%;
	margin: 0 auto;
	position: relative;
}

.motto{
	font-size:  25px;
	padding: 47px 0px 24px 0px;
}

.slidertext .title{
	font-size:  74px;
	border: 5px solid #fff;
	display: inline-block;
	padding:22px 32px 6px 24px;
	letter-spacing:  0px;
}
.slidertext .message{
	clear: both;
	font-size:  24px;
	display: inline-block;
	padding: 26px 0px;
	font-weight:  initial;
	letter-spacing:  0px;
}

.bullet-container ul{
	list-style: none;
	margin: 0 auto;
}

.bullet-container ul li{
	display: block; 
	padding: 5px; 
	background: url(../images/dot.png) 50% 50% no-repeat; 
	width: 10px;height: 10px; margin: 10px;
}

.bullet-container ul li.active{
	background: url(../images/dot-active.png) 0px 0px no-repeat;
}

.seeker{
	position: absolute;
	top: 35%;
	right: 20px;
}

.next-page-container{
	position: absolute;
	z-index: 10;
	width: 100%;
	bottom: 6.3888%;
}
.next-page{
	width: 99px;
	margin: 0 auto;
}

.content-wrapper,.slider-wrapper,.statistice-wrapper,.support-wrapper,.contact-wrapper,.footer-wrapper{
	width: 100%;
}

.header-container,.content-container,.statistics-container,.support-container,.contact-container,.footer-container{
	max-width: 75.375em;
	margin: 0 auto;
}

.service{
	float: left;
	text-align: center;
	padding: 100px 0px 107px 4px;
	width: 24.61312%;
	margin: 0px auto;
	position: relative;
	
}
.service1{
	background:  url(../images/service1.png) no-repeat;	
}
.service2{
	background:  url(../images/service2.png) no-repeat;
}
.service3{
	background:  url(../images/service3.png) no-repeat;
}
.service4{
	background:  url(../images/service4.png) no-repeat;
}

.service-image{
	padding-bottom: 39px;
	margin: 0 auto;
	display: block;
	height: 99px;
	width: 115px;
}

.service h2{
	font-family: 'Lato';
	font-weight: bold;
	font-size:  18px;
	padding: 8px 0px;
}

.service-bar{
	background: #ffaf3a;
	height: 3px;
	width: 70px;
	margin: 0 auto;
}

.service p
{
	padding: 15px 10px;
	font-family:  'Vollkorn';
	font-size: 15px;
	line-height: 23px;
}

.read-more-wrapper{
	padding: 21px 0px;
}

.read-more{
	width: 130px;
	line-height: 40px;
	font-family: 'Lato';
	font-size: 14px;
	background: #333333;
	color: #fff;
	font-weight:  bold;
	margin: 0 auto;
}

.read-more-wrapper a{
	text-decoration: none;
}

.service-content:hover .service1{
	background:  url(../images/service1-hover.png) no-repeat	;
}
.service-content:hover .service2{
	background:  url(../images/service2-hover.png) no-repeat	;
}
.service-content:hover .service3{
	background:  url(../images/service3-hover.png) no-repeat	;
}
.service-content:hover .service4{
	background:  url(../images/service4-hover.png) no-repeat	;
}
.service-content:hover .service-bar{
	background:  #333333;
}
.service-content:hover .read-more{
	background: #fff;
	color: #000;
	border: 2px solid #000;
	width: 126px;
	line-height: 38px;
}

.service-content:hover .read-more-wrapper{
	padding: 20px 0px;
}

.statistics-wrapper{
	background: url(../images/stat-background.png);
}

.statistics{
	float: left;
	width: 24.469312%;
	text-align: center;
	padding: 66px 0px 64px 5px;
	margin: 0px auto;
	position: relative;
}

.statistics img{
	padding:  17px 0px;
}

.statistics .number{
	display:  block;
	font-family:  'Lato Light';
	font-size:  47px;
	color:  #ffaf3a;
	padding:  23px 0px 10px;
}

.statistics .stat-seperator
{
	width: 90%;
	height: 2px;
	background: #ffaf3a;
	margin: 0 auto;
}

.statistics .name{
	color: #fff;
	font-family: 'Vollkorn';
	font-size: 24px;
	display: block;
	line-height:  48px;
}

.support-wrapper{
	background:  url(../images/support-background.png);
	background-size: 100% 100%;
}

.support-container{
	padding: 89px 0px 33px 0px;
	text-align: center;
}

.support-title-wrapper{
	display:inline-block;

}

.support-container .seperator{
	width:100%;
	height: 3px;
	background: #fff;
	margin: 0 auto;
}

.support-title{
	font-size: 37px;
	color: #fff;
	font-family:  'Vollkorn';
	font-weight: bold;
	line-height:  28px;
	padding-top: 9px;
	display: block;
}

.support-container img{
	display: block;
	margin: 0 auto;

}

.support-logo{
	width: 80px;
	height: 28px;
	background: url(../images/support.png) no-repeat;
	margin: 0 auto;
}

.support-container img{
	padding: 22px 0px 33px 0px;
}

.support{
	font-family:  'Vollkorn';
	max-width: 47.2636815920398%;
	text-align:  left;
	color: #fff;
	min-height: 172px;
	padding: 15px 12px 15px 18px;
	float: left;
}

.support span{
	font-family:  'Lato';
	font-size: 18px;
	display: block;
	padding-bottom: 13px;
	font-weight: bold;
}

.support .seperator{
	width: 100px;
	height: 4px;
	background: #fff;
	float: left;
}

.support p{
	padding-top: 16px;
	font-size: 15px;
	line-height: 23px;
}

.contact-top{
	padding-top: 100px;
	text-align: center;
	padding-bottom: 49px;
}

.contact-top .seperator{
	width: 222px;
	height: 3px;
	background: #343434;
	display: block;
	margin:  0 auto;
}

.contact-top .contact-title{
	font-size: 35px;
	padding: 8px 0px 2px 0px;
	font-family:  'Vollkorn';
	font-weight: bold;
	line-height:  28px;
	display: block;
	color: #343434;
}

.contact-top img{
	padding: 20px 0px 17px;
	display: block;
	margin: 0 auto;
}

.contact-top p{
	font-family: 'Vollkorn';
	color: #303030;
	line-height:  22px;
	font-size: 16px;
}

.maps{
	height:  500px;
	background:  url(../images/maps.png);
	background-size: 100% 100%;
}

.contact-bottom{
	padding: 82px 0px 75px 18px;
}

.contact-left{
	float: left;
	width: 48.50746268656716%;	
}

.contact-bottom .contact-left .content{
	font-weight:  bold;
	font-family:  'Lato';
	display:  block;
	font-size:  18px;
	padding:  18px 0px 7px 0px;
}

.contact-bottom .contact-left .details{
	font-family: 'Vollkorn';
	font-size: 15px;
	padding: 9px 0px 20px 0px;
	display: block;
}

.contact-bottom .seperator{
	width:  97.26495726495726%;
	height:  1px;
	background:  url(../images/contact-seperator.png) no-repeat;
}

.contact-bottom .social{
	padding: 20px 0px;
}

.contact-bottom .social ul{
	list-style: none;
	display: inline-block;
}

.contact-bottom .social li{
	display: block;
	float: left;
	margin-left: 30px;
}

.contact-bottom .social li:first-child{
	margin-left: 0px;
}
.conatact-bottom .social li div{
	display: inline-block;
	width: 30px;
	height: 30px;
}

.facebook{
	background: url(../images/facebook.png) no-repeat;
	width: 30px;
	height: 30px;
}

.twitter{
	background: url(../images/twitter.png) no-repeat;
	width: 30px;
	height: 30px;
}

.pinterest{
	background: url(../images/pintrest.png) no-repeat;
	width: 30px;
	height: 30px;
}

.gplus{
	background: url(../images/gplus.png) no-repeat;
	width: 30px;
	height: 30px;
}

.tumblr{
	background: url(../images/tumblr.png) no-repeat;
	width: 30px;
	height: 30px;
}

.facebook:hover{
	background: url(../images/facebook-hover.png) no-repeat;
}
.twitter:hover{
	background: url(../images/twitter-hover.png) no-repeat;
}
.pinterest:hover{
	background: url(../images/pintrest-hover.png) no-repeat;
}
.gplus:hover{
	background: url(../images/gplus-hover.png) no-repeat;
}
.tumblr:hover{
	background: url(../images/tumblr-hover.png) no-repeat;
}

.contact-right{
	float: right;
	width: 50%;
}

.contact-right form{
	padding: 13px 0px 0px 3px;
}

.contact-right input{
	width: 86.696296%;
	border: 0px none;
	height: 52px;
	padding: 0px 40px 0px 20px;
	margin: 5px 2px;
	font-family: 'Vollkorn';
	font-size: 15px;
}

.contact-right .name{
	background: url(../images/input-name.png) no-repeat;
	background-size: 100% 100%;
}

.contact-right .email{
	background: url(../images/input-mail.png) no-repeat;
	background-size: 100% 100%;
}

.contact-right textarea{
	width: 90.021368%;
	border: 0px none;
	height: 62px;
	padding: 20px;
	margin: 6px 2px;
	font-family: 'Vollkorn';
	background-color: black;
	background-size: 100% 100%;
}

.contact-right .input-area{
	background: url(../images/input-area.png) no-repeat;
	background-size: 100% 100%;
}

.contact-right .submit{
	width: 96.8%;
	background: #ffaf3a;
	border: 0px none;
	height: 50px;
	padding: 0px 20px;
	margin: 11px 2px 9px 2px;
	font-family: 'Lato';
	font-size: 16px;
	font-weight: bold;
	color: white;
	background-image: url(../images/submit-background.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.footer-wrapper{
	background:  url(../images/stat-background.png);
}

.footer-container{
	padding: 67px 0px 66px 0px;
	text-align: center;
	color: white;
}

.footer{
	margin: 0 auto;
	padding-bottom: 42px;
}

.footer .logo{
	padding-bottom: 21px;
}

.footer-container span{
	display: block;
	color: #fff;
	line-height: 24px;
	font-size: 15px;
}

.footer-container
{
	font-family: 'Vollkorn';
}

.footer-container span span{
	display: inline;
	color: #ffaf3a;
}